@model IEnumerable<TrashCollectorApplication.Models.Client>
@{
    ViewBag.Title = "All Clients";
}

<h2>All Clients</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Zip Code")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Account Balance")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Account Suspension Start")
        </th>
        <th>
            @Html.DisplayName("Account Suspension End")
        </th>
        <th></th>



    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOwed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuspensionStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuspensionEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit Client Details", "ClientEdit", new { id = item.id }) |
            @Html.ActionLink("Delete Client", "DeleteClient", new { id = item.id }) |
            @Html.ActionLink("View Client Details", "ClientDetails", new { id = item.id }) |
        </td>
    </tr>
    }

</table>
