@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h3>Welcome, @Model.FirstName. This is your client home page.</h3>

<table class="table">

    <tr>
        <td>
            @Html.ActionLink("Edit Your Account", "Edit", new { id = Model.id })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Request a One Time Pickup", "RequestPickup", new { id = Model.id })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View Your Account", "Details", new { id = Model.id })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Suspend Your Pickups", "SuspendPickups", new { id = Model.id }) 
        </td>
    </tr>
</table>