@model TrashCollectorApplication.Models.Client

@{
    ViewBag.Title = "SuspendPickups";
}

<h2>SuspendPickups</h2>

<p>Are you sure you want to Suspend pickups?</p>


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Suspension start date: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SuspensionStart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Suspension end date: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SuspensionEnd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Yes" class="btn btn-default" />
        </div>
    </div>
}
@Html.ActionLink("Back To Home", "Index")