@model IEnumerable<TrashCollectorApplication.Models.Client>

@{
    ViewBag.Title = "Index";
    TempData.Keep("myModel");
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Filter by Day","Filter")*@
    @Html.ActionLink("Confirm a pickup", "Confirm") @*This will give a charge to the Client*@
    @Html.ActionLink("View All Currently Selected Clients On Map", "ViewAllClients", new { clients = Model})

</p>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">Please select the day to filter by.</div>
    <div class="form-group">
        @Html.DropDownList("dayOfWeek", (SelectList)ViewBag.DayList,"Select Day", new { @class = "form-control"})
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Zip Code")
        </th>
        <th>
            @Html.DisplayName("Regular Pickup")
        </th>
        <th>
            @Html.DisplayName("One-time Pickup")
        </th>
        <th></th>



    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay.GarbagePickupDay)
            </td>
            <td>
                @{
                    var day = item.PickupDays.Where(model => model.id == item.OneTimePickupDayId).FirstOrDefault();
                }
                @Html.DisplayFor(model => day.GarbagePickupDay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "DeleteConfirmed", new { id = item.id }) |
                @Html.ActionLink("View User", "Details", new { id = item.id}) |
                @Html.ActionLink("Confirm Pickup", "Confirm", new { id = item.id}) |
                @Html.ActionLink("View Address on Map", "InitializeMap", new { id = item.id})
            </td>
        </tr>
    }

</table>
