@model IEnumerable<TrashCollectorApplication.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupDay.GarbagePickupDay)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.PickupDay.id)
            @{
                var day = item.PickupDays.Where(model => model.id == item.OneTimePickupDayId).FirstOrDefault();
            }
            @Html.DisplayFor(model => day.GarbagePickupDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
